
img {
  height: 12em;
}

.router {
font-size: 30em;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.navLinkPhoto {
  font-size: 2rem;
  position: absolute;
  top: 9.5rem;
  left: 10%;
  opacity: 0;
  color: #F5A3BE;
  animation-name: fadeIn;
  animation-delay: 3.5s;
  animation-duration: 9s;
   animation-fill-mode: forwards;
}

.navLinkReminder {
  font-size: 2rem;
  position: absolute;
  top: 16.5rem;
  left: 10%;
  opacity: 0;
  color: #F0A3BE;
  animation-name: fadeIn;
  animation-delay: 4.5s;
  animation-duration: 9s;
   animation-fill-mode: forwards;
}

.navLinkContact {
  font-size: 2rem;
  position: absolute;
  top: 9.5rem;
  left: 70%;
  opacity: 0;
  color: #F0A3BE;
  animation-name: fadeIn;
  animation-delay: 5.5s;
  animation-duration: 9s;
   animation-fill-mode: forwards;
}

.navLinkPuzzle {
  font-size: 2rem;
  position: absolute;
  top: 16.5rem;
  left: 70%;
  opacity: 0;
  color: #F0A3BE;
  animation-name: fadeIn;
  animation-delay: 6.5s;
  animation-duration: 9s;
   animation-fill-mode: forwards;
}

.navLinkHome {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  display: flex;
  top: 16.5rem;
  left: 70%;
  opacity: 0;
  color: #F0A3BE;
  animation-name: fadeIn;
  animation-delay: 3.5s;
  animation-duration: 9s;
   animation-fill-mode: forwards;
}
